svg
{
	width: 800px;
	height: 600px;
	background : url(../images/backgrounds/westeros.jpg);
	background-repeat: no-repeat;
	opacity : 0.8;
}

.main
{
	width: 1200px;
	margin-right: auto;
	margin-left: auto;

	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}